@font-face {
  font-family: 'FuturaEmphasis'; /* Choose a name for your font-family */
  src: local('tt0205.ttf'), /* Name of the font as installed on the system */
        url('./assets/fonts/tt0205m.ttf') format('truetype'); /* Fallback URL for the font file */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura'; /* Choose a name for your font-family */
  src: local('Future Book font.ttf'), /* Name of the font as installed on the system */
        url('./assets/fonts/Future Book font.ttf') format('truetype'); /* Fallback URL for the font file */
  font-weight: normal;
  font-style: normal;
}

.aspect-ratio {
  position: relative;
  width: 95%;
  height: 0;
  padding-bottom: 56.25%; /* The height of the item will now be 56.25% of the width. */
}

/* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: .3rem;
  padding-right: .6rem;
  & a {
    color: black;
    text-decoration: underline;
    &:hover {
      color:#ffeaa7;
      mix-blend-mode: difference;
    }
  }
}

.section-header {
  margin-left: 1rem;
}

.slick-prev:before, .slick-next:before {
  color: black !important;
}

html, body {
  font-family: 'Futura', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'FuturaEmphasis', sans-serif;
  margin: .1rem;
}

p {
  margin: .1rem;
}

.skillTagDiv{
  display: inline-block;
  padding: 0.1em .5em;
  border-radius: 999px;
  color: #fff;
  margin: 0.1em;
  border: none;
}

.collapser {
  display: flex;
  align-items: start;
  cursor: pointer;
  gap: 10px;
  padding: 10px;
}

.collapsee {
  transition: max-height 0.6s ease-in-out;  
  max-height: 1000px; // Arbitrary large value to allow expansion
  overflow: hidden;
  &.closed {
    max-height: 0;
  }
}



// Variables for easy customization
$link-color: #000000;
$text-color: #f10e0e;

// A mixin to create the gradient text effect
@mixin gradient-text($gradient) {
  background: $gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  // Fallback for browsers that don't support `background-clip: text`
  @supports not (-webkit-background-clip: text) {
    color: $text-color;
  }
}

.navButton {
  // Reset the default button styles
  background: none; // No background
  border: none; // No border
  padding: 0; // No padding
  margin: 0; // No margin
  font: inherit; // Inherit font styles
  cursor: pointer; // Change cursor to a pointer

  // Initial link text appearance
  color: $link-color;
  transition: color 0.3s ease-in-out;

  // Hover and focus states to remove underline
  &:hover,
  &:focus {
    text-decoration: none;
    outline: none; // Important for accessibility, add alternative focus styling if removed
  }

  // The cool gradient text effect on hover
  &::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    // Apply the gradient text mixin
    @include gradient-text(linear-gradient(90deg, #6c5ce7, #fd79a8, #ffeaa7));
    
    // Animate the gradient on hover
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.5s ease-out;
  }
  
  // Animate the text color back on hover for browsers that don't support `background-clip: text`
  @supports not (-webkit-background-clip: text) {
    &:hover {
      color: transparent;
    }
  }

  // On hover, move the gradient into view
  &:hover::before {
    background-position: 0 0;
  }
}

.text-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.frosted-glass {
  background: rgba(255, 255, 255, 0.307);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.619);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

:root {
  --color-bg1: rgb(255, 255, 255);
  --color-bg2: rgb(185, 226, 186);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}


.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;

  svg {
    position: fixed;
    top:0;
    left:0;
    width: 0;
    height: 0;
  }


  .gradients-container {
    filter: url(#goo) blur(40px) ;
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 90s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 60s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 120s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 120s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 60s ease infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }
}
